{% extends "statistics/template_master.html" %}
{% load staticfiles %}
{% block content_body %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <img class="img-fluid" src="{% static 'img/ccc-logo-medium.png' %}">
  </div>
  <div class="col-md-2"></div>
</div>
<hr>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <div class="btn-group btn-block">
      <a class="btn btn-primary btn-block" href='players/'>Players</a>
    </div>
    <hr>
    <div class="btn-group btn-block">
      <a class="btn btn-primary btn-block" href="{% url 'statistic_index' 'individual_records' %}">Games Records</a>
      <a class="btn btn-primary btn-block" href="{% url 'statistic_index' 'batting_records' %}">Batting Records</a>
      <a class="btn btn-primary btn-block" href="{% url 'statistic_index' 'bowling_records' %}">Bowling Records</a>
      <a class="btn btn-primary btn-block" href="{% url 'statistic_index' 'all_round_records' %}">All-round Records</a>
      <a class="btn btn-primary btn-block" href="{% url 'statistic_index' 'wicketkeeping_records' %}">Wicketkeeping Records</a>
      <a class="btn btn-primary btn-block" href="{% url 'statistic_index' 'fielding_records' %}">Fielding Records</a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
