{% extends "base.html" %}

{% block body %}
<h1>{{ player }}</h1>
<h2>Senior career</h2>
{% include 'django_cricket_statistics/includes/table.html' with data=statistics_by_grade_list columns=statistics_by_grade_names columns_float=statistics_float_fields %}
<h2>Season-by-season</h2>
{% include 'django_cricket_statistics/includes/table.html' with data=statistics_by_year_list columns=statistics_by_year_names columns_float=statistics_float_fields %}
<h2>Hundreds</h2>
<h2>Five wicket innings</h2>
<h2>Career chart</h2>
{% endblock %}
