{% extends "base.html" %}

{% block body %}
<h1>{{ player }}{% if player.first_eleven_number %}<small>{{ player.first_eleven_number }}</small>{% endif %}</h1>
<h2>Senior career</h2>
{% include 'django_cricket_statistics/includes/table.html' with data=statistics_by_grade_list columns=statistics_by_grade_names columns_float=statistics_float_fields %}
<h2>Season-by-season</h2>
{% include 'django_cricket_statistics/includes/table.html' with data=statistics_by_year_list columns=statistics_by_year_names columns_float=statistics_float_fields %}
<h2>Hundreds</h2>
{% if hundreds_list %}
{% include 'django_cricket_statistics/includes/table.html' with data=hundreds_list columns=hundreds_names start_rank=1 %}
{% endif %}
<h2>Five wicket innings</h2>
{% if five_wicket_innings_list %}
{% include 'django_cricket_statistics/includes/table.html' with data=five_wicket_innings_list columns=five_wicket_innings_names start_rank=1 %}
{% endif %}
<h2>Career chart</h2>
{% endblock %}
