<ul class="pagination">
  {% if results.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page={{ results.previous_page_number }}">Prev</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span class="page-link">Prev</span>
  </li>
  {% endif %}

  <li>Page {{ results.number }} of {{ results.paginator.num_pages }}</li>

  {% if results.has_next %}
  <li class="page-item">
    <a class="page-link" href="?page={{ results.next_page_number }}">Next</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span class="page-link">Next</span>
  </li>
  {% endif %}
</ul>
