{% load getattr %}
<table>
  {% if caption %}
  <caption>{{ caption }}</caption>
  {% endif %}
  <thead>
    <tr>
      {% for attr, name in columns.items %}
      <th>{{ name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
    {% for attr, name in columns.items %}
    {% with value=item|get:attr %}
    {% spaceless %}
      <td>
        {% if value is None %}
        {{ placeholder|default:"-" }}
        {% elif attr in columns_float %}
        {{ value|floatformat:2 }}
        {% else %}
        {{ value }}
        {% endif %}
      </td>
    {% endspaceless %}
    {% endwith %}
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
