<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>{{ graph_title }}</h2>
        <div class="text-center">
            <svg id="chartId"></svg>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
                {% for item, name in graph_vars.items %}
                {% if item != graph_xaxis_variable %}
                <label class="btn btn-default{% if forloop.counter0 == 0 %} active{% endif %}">
                    <input type="radio" value="{{ item }}" name="graphVariable"{% if forloop.counter0 == 0 %} hecked{% endif %}>{{ name }}</input>
                </label>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
