{% for table_row in tables %}
<div class="row">
    <div class="col-md-2"></div>
    {% for table in table_row %}
    <div class="col-md-{% if table_row|length > 1 %}4{% else %}8{% endif %}">
        {% if table.data.paginator %}
        <nav aria-label="...">
            {% include "statistics/template_paginator.html" %}
        </nav>
        {% endif %}
        {% include "statistics/default_table.html" with table=table %}
        {% if table.data.paginator %}
        <nav aria-label="...">
            {% include "statistics/template_paginator.html" %}
        </nav>
        {% endif %}
    </div>
    {% empty %}
    <div class="col-md-8"></div>
    {% endfor %}
    <div class="col-md-2"></div>
</div>
{% endfor %}