{% extends "statistics/template_master.html" %}
{% load staticfiles %}
{% block content_body %}
<div class="row">
    <div class="col-md-12">
        <div class="text-center page-header">
            <h1>Players</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="btn-group btn-group-sm" role="group">
            {% for i in link_letters %}
            <a class="btn btn-default" href="{% url 'players' i %}">{{ i }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% if tables %}
{% include "statistics/layout_tables.html" %}
{% endif %}
{% endblock %}