{% extends "statistics/template_master.html" %}
{% load staticfiles %}
{% load access %}
{% block content_body %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 page-header">
        <h1>{{ page_title }}</h1>
    </div>
    <div class="col-md-2"></div>
</div>
{% include "statistics/layout_tables.html" with tables=tables %}
{% include "statistics/chart.html" %}
{% endblock %}
{% block custom_scripts %}
<script src="//d3js.org/d3.v4.min.js"></script>
<script>
var data = {{ graph_data|safe }};
var xVar = '{{ graph_xaxis_variable }}';
var yVar = 'matches';
</script>
<script src="{% static '/js/graph.js' %}"></script>
{% endblock %}